/* partially stolen from https://css-tricks.com/functional-css-tabs-revisited/ */
@font-face {
	font-family: "Minecraftia";
	font-weight: normal;
	src: url("fonts/Minecraftia.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Galactic Standard";
	font-weight: normal;
	src: url("fonts/galactic/galactic-simple.ttf") format("truetype");
	font-style: normal;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2C2F33; /* stolen from discord's palette */
	}
}

body, input {
	font-family: "Minecraftia", sans-serif;
}

div, img {
	image-rendering: pixelated;
	image-rendering: crisp-edges;

	min-width: 30px;
	min-height: 30px;
}

label > div {
	position: relative;
	display: inline-block;
	bottom: 10px;
}

#tabs {
	position: relative;
	min-height: 370px;
	width: 354px;

	left: 50%;
	transform: translate(-50%, 15vh);

	clear: both;
}

#cracking label div {
	clip-path: polygon(37% 100%, 69% 100%, 69% 94%, 75% 94%, 75% 87%, 82% 88%, 82% 82%, 88% 81%, 88% 56%, 82% 55%, 82% 51%, 75% 50%, 75% 44%, 69% 44%, 69% 31%, 75% 31%, 75% 19%, 69% 19%, 69% 12%, 63% 12%, 63% 6%, 44% 6%, 44% 13%, 38% 13%, 38% 19%, 31% 19%, 31% 31%, 38% 31%, 38% 44%, 32% 44%, 32% 50%, 25% 50%, 25% 56%, 19% 56%, 19% 82%, 25% 82%, 25% 88%, 32% 88%, 32% 94%, 38% 94%);
	background: url("../img/experience_bottle.png");
	background-size: cover;
}
#enchant label div {
	clip-path: polygon(0 31%, 0 63%, 6% 63%, 6% 69%, 12% 69%, 12% 75%, 18% 75%, 18% 81%, 25% 82%, 25% 88%, 31% 88%, 31% 94%, 50% 94%, 50% 88%, 63% 88%, 63% 82%, 75% 81%, 75% 75%, 88% 75%, 88% 69%, 100% 69%, 100% 38%, 94% 38%, 94% 31%, 88% 31%, 88% 25%, 81% 25%, 81% 19%, 75% 19%, 75% 12%, 69% 12%, 69% 6%, 50% 6%, 50% 12%, 37% 12%, 37% 18%, 25% 19%, 25% 25%, 12% 25%, 12% 31%);
	background: url("../img/enchanted_book.png");
	background-size: cover;
}
#about label div {
	background: url("../img/cookie.png");
	background-size: cover;
}

label div.enchant::after {
	position: absolute;
	z-index: 5;

	content: "";
	background: url("../img/enchanted_item_glint.png");
	filter: blur(1px) contrast(150%) brightness(200%);
	opacity: 0.2;
	transform: rotateY(0deg) rotate(45deg);
	width: 30px;
	height: 30px;

	animation: move 6s linear infinite;
}

.tab {
	float: left;
}

.cool-border {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 5px solid white; 
	border-right: 5px solid #555;	
}

.cool-border::before {
	content: "";
	height: calc(100% + 8px);
	width: calc(100% + 8px);
	z-index: -2;
	position: absolute;
	top: -5px;
	left: -5px;
	background: none;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 2px solid black;
}

.tab label.cool-border::before {
	z-index: 2;
	border-bottom: none;
	width: 54px;
	height: 54px;
}

@keyframes move {
	from { background-position: 0 0; }
	to { background-position: -128px -128px; }
 }

#cracking label.cool-border::after {
	content: "";
	width: 2px;
	height: 50px;
	position: absolute;
	left: -5px;

	background: none repeat scroll 0 0 #fff;
	border-left: 2px solid black;
	border-right: 1px solid white;
}

#about label.cool-border::after {
	content: "";
	z-index: 5;
	width: calc(300% + 15px);
	height: 7px;
	position: absolute;
	bottom: -5px;
	left: -100px;

	background: none repeat scroll 0 0 #C6C6C6;
}

.tab label.cool-border {
	background: #8B8B8B; 

	overflow: hidden;
	padding: 30px 8px 1px 8px; 
	margin-left: -1px; 
	position: relative;
	left: 1px;
}

.tab [type=radio] {
	display: none;
}

.content {
	position: absolute;
	top: 28px;
	left: 0;
	background: #C6C6C6;
	right: 0;
	bottom: 0;
	padding: 2px;
	border-bottom-color: #555;
}

[type=radio]:checked ~ label {
	background: #C6C6C6;
	border-bottom-color: #C6C6C6;
	border-top-width: 2px;
	
	z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
	z-index: 1;
}

.title {
	padding-left: 5px;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#calc-seed.flex {
	flex-direction: column;
	align-items: flex-start;
}

#bookshelves {
	flex-grow: 2;
	align-items: center;
	justify-content: center;
	
	margin-right: 10px;
	margin-left: 15px;

	background: repeat url("../img/bookshelf.png");
	background-size: 25%;
}

#animated.flex,
#enchantments.flex {
	flex-direction: column;
	margin: 5px;
}

#animated.flex > img {
	padding-top: 15px;
	align-self: flex-start;
}

#enchantments {
	border: 2px solid #373737;
	border-bottom-color: #fff;
	border-right-color: #fff;

	min-width: 216px;
	min-height: 114px;
}

.enchantment {
	border: 2px solid #e0ca9f;
	border-bottom-color: #544c3b;
	border-right-color: #544c3b;
	background: #a09172;

	flex-grow: 1;
}

.enchantment:focus-within,
.enchantment:hover {
	border-color: #fab9ef;
	border-bottom-color: #654c61;
	border-right-color: #654c61;
	background: #b688ae;
}

/* level spritesheet */
.orb {
	background: no-repeat url("../img/orbs.png");
	min-width: 16px;
	min-height: 16px;
	display: inline-block;
	flex-grow: 1;

	background-size: auto 100%;
}

#orb1 {
	background-position: 0px 0px;
}

#orb2 {
	background-position: -16px 0px;
}

#orb3 {
	background-position: -32px 0px;
}
