/* partially stolen from https://css-tricks.com/functional-css-tabs-revisited/ */
@font-face {
	font-family: "Minecraftia";
	font-weight: normal;
	src: url("fonts/Minecraftia.ttf") format("truetype");
	font-style: normal;
}

@font-face {
	font-family: "Galactic Standard";
	font-weight: normal;
	src: url("fonts/standard-galactic-alphabet.ttf") format("truetype");
	font-style: normal;
}

@media (prefers-color-scheme: dark) {
	body {
		background-color: #2C2F33; /* stolen from discord's palette */
	}
}

body, input {
	font-family: "Minecraftia", sans-serif;
}

div, img {
	image-rendering: crisp-edges;
	image-rendering: pixelated;

	min-width: 30px;
	min-height: 30px;
}

input[type="submit"],
#crack-progress {
	border: 2px solid #AAA;
	border-right-color: #565656;
	border-bottom-color: #565656;

	color: white;
	background: #6F6F6F;
	-webkit-appearance: none;
}

input[type="submit"]:hover {
	border-color: white;
}

input[type="submit"]:active {
	border-color: lightgray;
	color: lightgray;
}

label > div {
	position: relative;
	display: inline-block;
	bottom: 10px;
}

#tabs {
	position: relative;
	min-height: 370px;
	width: 354px;

	left: 50%;
	transform: translate(-50%, 15vh);

	clear: both;
}

#cracking label div {
	-webkit-clip-path: polygon(37% 100%, 69% 100%, 69% 94%, 75% 94%, 75% 87%, 82% 88%, 82% 82%, 88% 81%, 88% 56%, 82% 55%, 82% 51%, 75% 50%, 75% 44%, 69% 44%, 69% 31%, 75% 31%, 75% 19%, 69% 19%, 69% 12%, 63% 12%, 63% 6%, 44% 6%, 44% 13%, 38% 13%, 38% 19%, 31% 19%, 31% 31%, 38% 31%, 38% 44%, 32% 44%, 32% 50%, 25% 50%, 25% 56%, 19% 56%, 19% 82%, 25% 82%, 25% 88%, 32% 88%, 32% 94%, 38% 94%);
	clip-path: polygon(37% 100%, 69% 100%, 69% 94%, 75% 94%, 75% 87%, 82% 88%, 82% 82%, 88% 81%, 88% 56%, 82% 55%, 82% 51%, 75% 50%, 75% 44%, 69% 44%, 69% 31%, 75% 31%, 75% 19%, 69% 19%, 69% 12%, 63% 12%, 63% 6%, 44% 6%, 44% 13%, 38% 13%, 38% 19%, 31% 19%, 31% 31%, 38% 31%, 38% 44%, 32% 44%, 32% 50%, 25% 50%, 25% 56%, 19% 56%, 19% 82%, 25% 82%, 25% 88%, 32% 88%, 32% 94%, 38% 94%);
	background: url("../img/experience_bottle.png");
	background-size: cover;
}

#enchant label div {
	-webkit-clip-path: polygon(0 31%, 0 63%, 6% 63%, 6% 69%, 12% 69%, 12% 75%, 18% 75%, 18% 81%, 25% 82%, 25% 88%, 31% 88%, 31% 94%, 50% 94%, 50% 88%, 63% 88%, 63% 82%, 75% 81%, 75% 75%, 88% 75%, 88% 69%, 100% 69%, 100% 38%, 94% 38%, 94% 31%, 88% 31%, 88% 25%, 81% 25%, 81% 19%, 75% 19%, 75% 12%, 69% 12%, 69% 6%, 50% 6%, 50% 12%, 37% 12%, 37% 18%, 25% 19%, 25% 25%, 12% 25%, 12% 31%);
	clip-path: polygon(0 31%, 0 63%, 6% 63%, 6% 69%, 12% 69%, 12% 75%, 18% 75%, 18% 81%, 25% 82%, 25% 88%, 31% 88%, 31% 94%, 50% 94%, 50% 88%, 63% 88%, 63% 82%, 75% 81%, 75% 75%, 88% 75%, 88% 69%, 100% 69%, 100% 38%, 94% 38%, 94% 31%, 88% 31%, 88% 25%, 81% 25%, 81% 19%, 75% 19%, 75% 12%, 69% 12%, 69% 6%, 50% 6%, 50% 12%, 37% 12%, 37% 18%, 25% 19%, 25% 25%, 12% 25%, 12% 31%);
	background: url("../img/enchanted_book.png");
	background-size: cover;
}

#about label div {
	background: url("../img/cookie.png");
	background-size: cover;
}

label div.enchant::after {
	position: absolute;
	z-index: 5;

	content: "";
	background: url("../img/enchanted_item_glint.png");
	filter: blur(1px) contrast(150%) brightness(200%);
	opacity: 0.2;
	transform: rotateY(0deg) rotate(45deg);
	width: 30px;
	height: 30px;

	animation: move 6s linear infinite;
}

.tab {
	float: left;
}

.cool-border {
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 5px solid white; 
	border-right: 5px solid #555;	
}

.cool-border::before {
	content: "";
	height: calc(100% + 8px);
	width: calc(100% + 8px);
	z-index: -2;
	position: absolute;
	top: -5px;
	left: -5px;
	background: none;

	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border: 2px solid black;
}

.tab label.cool-border::before {
	z-index: 2;
	border-bottom: none;
	width: 54px;
	height: 54px;
}

@keyframes move {
	from { background-position: 0 0; }
	to { background-position: -128px -128px; }
 }

#cracking label.cool-border::after {
	content: "";
	width: 2px;
	height: 50px;
	position: absolute;
	left: -5px;

	background: none repeat scroll 0 0 #fff;
	border-left: 2px solid black;
	border-right: 1px solid white;
}

#about label.cool-border::after {
	content: "";
	z-index: 5;
	width: calc(300% + 15px);
	height: 7px;
	position: absolute;
	bottom: -5px;
	left: -100px;

	background: none repeat scroll 0 0 #C6C6C6;
}

.tab label.cool-border {
	background: #8B8B8B; 

	overflow: hidden;
	padding: 30px 8px 1px 8px; 
	margin-left: -1px; 
	position: relative;
	left: 1px;
}

.tab [type=radio] {
	display: none;
}

.content {
	position: absolute;
	top: 28px;
	left: 0;
	background: #C6C6C6;
	right: 0;
	bottom: 0;
	padding: 2px;
	border-bottom-color: #555;
}

[type=radio]:checked ~ label {
	background: #C6C6C6;
	border-bottom-color: #C6C6C6;
	border-top-width: 2px;
	
	z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
	z-index: 1;
}

.title {
	padding-left: 5px;
}

.flex {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#calc-seed.flex {
	flex-direction: column;
	align-items: flex-start;
}

#bookshelves {
	flex-grow: 2;
	align-items: center;
	justify-content: center;
	
	margin-right: 10px;
	margin-left: 15px;

	background: repeat url("../img/bookshelf.png");
	background-size: 25%;
}

#animated.flex,
#enchantments.flex {
	flex-direction: column;
	margin: 5px;
}

#animated.flex > img {
	padding-top: 15px;
	align-self: flex-start;
}

#enchantments, .item-slot {
	border: 2px solid #373737;
	border-bottom-color: #fff;
	border-right-color: #fff;
}

#enchantments {
	flex-wrap: nowrap;

	max-width: 216px;
	max-height: 114px;
	min-height: 114px;
	min-width: 216px;
}

.enchantment {
	border: 2px solid #e0ca9f;
	border-bottom-color: #544c3b;
	border-right-color: #544c3b;
	background: #a09172;
	flex-wrap: nowrap;

	flex-grow: 1;
}

.enchantment:focus-within,
.enchantment:hover {
	border-color: #fab9ef;
	border-bottom-color: #654c61;
	border-right-color: #654c61;
	background: #b688ae;
}

.enchantment:focus-within .gsa,
.enchantment:hover .gsa { color: #FCFC7E; }

.enchantment > input[type=number] {
	box-sizing: border-box;
	margin-top: 10px;
}

.gsa {
	font: 10px "Galactic Standard";
	color: #654c61;
	overflow-wrap: break-word;

	padding-left: 8px;
	flex-grow: 2;
	min-width: 0;
}

/* level spritesheet */
.orb {
	background: no-repeat url("../img/orbs.png");
	min-width: 34px;
	min-height: 34px;
	display: inline-block;
	flex-grow: 1;

	background-size: auto 100%;
}

#orb1 {
	background-position: 1px 0px;
}

#orb2 {
	background-position: -33.3px 0px;
}

#orb3 {
	background-position: -66.6px 0px;
}

#crack-seed ~ input {
	align-self: flex-end;
	margin: 5px;
	margin-top: 25px;
}

#crack-progress {
	align-self: flex-end;
	margin: 5px;
	min-height: 20px;
	flex-grow: 3;
	position: relative;
}

#crack-progress::before {
	content: attr(data-value);
	position: absolute;
	text-align: center;
	top: -3px;
	left: 0;
	right: 0;
}

#crack-progress span {
	background-color: rgb(0, 177, 0);
}

#crack-progress:not([style*="display: none;"]) + #seed-check {
	display: none;
}

#seed-check {
	flex-grow: 3;
}

#calc-seed input[type="submit"] {
	min-width: 145px;
}

input[type="submit"].invalid {
	color: rgb(199, 0, 0);
}

#item-list {
	width: calc((32px + 4px) * 7); /* woah my code-style changed (i should be using vars) */
	height: calc((32px + 4px) * 2); /* its because the code from before were all hacks and i wasnt thinking */

	padding: 5px;
}

.item-slot {
	background-color: #8B8B8B;
}

.item {
	width: 32px;
	height: 32px;
	background: url("item_sheet.png")
}

#upper-man-options {
	flex-direction: column;

	padding-top: 5px;
}

/* Sprites */
@keyframes fire {
	from { background-position-x: -0px; }
	to { background-position-x: -992px; }
}

.item_fire {
	background-image: url("../img/fire_animation.png");
	animation: fire 1s steps(31) infinite;
}

.bg-diamondhoe {
    background-position: -0 -0;
}

.bg-diamondleggings {
    background-position: -32px -0;
}

.bg-diamondpickaxe {
    background-position: -0 -32px;
}

.bg-diamondshovel {
    background-position: -32px -32px;
}

.bg-diamondsword {
    background-position: -64px -0;
}

.bg-fishingrod {
    background-position: -64px -32px;
}

.bg-goldenaxe {
    background-position: -0 -64px;
}

.bg-goldenboots {
    background-position: -32px -64px;
}

.bg-goldenchestplate {
    background-position: -64px -64px;
}

.bg-goldenhelmet {
    background-position: -96px -0;
}

.bg-goldenhoe {
    background-position: -96px -32px;
}

.bg-goldeningot {
    background-position: -96px -64px;
}

.bg-goldenleggings {
    background-position: -0 -96px;
}

.bg-goldenpickaxe {
    background-position: -32px -96px;
}

.bg-goldenshovel {
    background-position: -64px -96px;
}

.bg-goldensword {
    background-position: -96px -96px;
}

.bg-ironaxe {
    background-position: -128px -0;
}

.bg-ironboots {
    background-position: -128px -32px;
}

.bg-ironchestplate {
    background-position: -128px -64px;
}

.bg-ironhelmet {
    background-position: -128px -96px;
}

.bg-ironhoe {
    background-position: -0 -128px;
}

.bg-ironingot {
    background-position: -32px -128px;
}

.bg-ironleggings {
    background-position: -64px -128px;
}

.bg-ironpickaxe {
    background-position: -96px -128px;
}

.bg-ironshovel {
    background-position: -128px -128px;
}

.bg-ironsword {
    background-position: -160px -0;
}

.bg-leather {
    background-position: -160px -32px;
}

.bg-leatherboots {
    background-position: -160px -64px;
}

.bg-leatherchestplate {
    background-position: -160px -96px;
}

.bg-leatherhelmet {
    background-position: -160px -128px;
}

.bg-leatherleggings {
    background-position: -0 -160px;
}

.bg-netheriteaxe {
    background-position: -32px -160px;
}

.bg-netheriteboots {
    background-position: -64px -160px;
}

.bg-netheritechestplate {
    background-position: -96px -160px;
}

.bg-netheritehelmet {
    background-position: -128px -160px;
}

.bg-netheritehoe {
    background-position: -160px -160px;
}

.bg-netheriteingot {
    background-position: -192px -0;
}

.bg-netheriteleggings {
    background-position: -192px -32px;
}

.bg-netheritepickaxe {
    background-position: -192px -64px;
}

.bg-netheriteshovel {
    background-position: -192px -96px;
}

.bg-netheritesword {
    background-position: -192px -128px;
}

.bg-stoneaxe {
    background-position: -192px -160px;
}

.bg-stonehoe {
    background-position: -0 -192px;
}

.bg-stonepickaxe {
    background-position: -32px -192px;
}

.bg-stoneshovel {
    background-position: -64px -192px;
}

.bg-stonesword {
    background-position: -96px -192px;
}

.bg-trident {
    background-position: -128px -192px;
}

.bg-turtlehelmet {
    background-position: -160px -192px;
}

.bg-woodenaxe {
    background-position: -192px -192px;
}

.bg-woodenhoe {
    background-position: -224px -0;
}

.bg-woodenpickaxe {
    background-position: -224px -32px;
}

.bg-woodenshovel {
    background-position: -224px -64px;
}

.bg-woodensword {
    background-position: -224px -96px;
}

.bg-book {
    background-position: -224px -128px;
}

.bg-bow {
    background-position: -224px -160px;
}

.bg-chainmailboots {
    background-position: -224px -192px;
}

.bg-chainmailchestplate {
    background-position: -0 -224px;
}

.bg-chainmailhelmet {
    background-position: -32px -224px;
}

.bg-chainmailleggings {
    background-position: -64px -224px;
}

.bg-crossbow {
    background-position: -96px -224px;
}

.bg-diamond {
    background-position: -128px -224px;
}

.bg-diamondaxe {
    background-position: -160px -224px;
}

.bg-diamondboots {
    background-position: -192px -224px;
}

.bg-diamondchestplate {
    background-position: -224px -224px;
}

.bg-diamondhelmet {
    background-position: -256px -0;
}